.succes {
  border-color: green;
  background-color: greenyellow;
  color: green;
}

.error {
  border-color: red;
  background-color: rgb(211, 153, 153);
  color: red;
}

.warning {
  border-color: yellow;
  background-color: rgb(216, 210, 129);
  color: yellow;
}